*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
 font-size: 10px;
 font-family: monospace;
}
body{
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.labelgoeshere{
    width: 342px;
    height: 24px;
    font: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}