.barra-superior {
    display: flex;
    justify-content: space-between; /* separa izquierda y derecha */
    align-items: center;
    padding: 10px 20px;
    background-color:#F5F5F5; 
}

.iconos-derecha {
    display: flex;
    gap: 30px; /* espacio entre bloques */
    align-items: center;
}

.bloque {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icono {
    width: 20px;
    height: auto;
}
